.line{
    display: flex;
    justify-content: center;
}
.operators{
    cursor: pointer;
    display: flex;
    height: 100px;
    width: 100px;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
   justify-content: center;
   text-align: center;
   align-items: center;
   color: black;
   font-size: 40px;
}
.screen{
    width: 409px;
}
.grandfather{
    padding-top: 30px;
}
.red{
    color: orange;
}
.equal{
    background-color: orange;
    color: white;
}
.clear{
    
    display: flex;
    height: 50px;
    width: 409px;
    border: 2px solid black;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}
